Repository aoneahsan/unified-tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern 'examples/**', prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --ignore-pattern 'examples/**'", "prettier --write"],
  "*.{json,md,yml,yaml,html,css}": ["prettier --write"],
  "*.java": ["prettier --write"]
}

auto: save work in progress before sync
  src/react/AGENTS.md
Due: prettier --write

auto: save work in progress before sync
  src/core/CLAUDE.md
Due: prettier --write

auto: save work in progress before sync
  src/core/AGENTS.md
Due: prettier --write

auto: save work in progress before sync
  docs/CLAUDE.md
Due: prettier --write

auto: save work in progress before sync
  docs/AGENTS.md
Due: prettier --write

auto: save work in progress before sync
  CLAUDE.md
Due: prettier --write

auto: save work in progress before sync
  AGENTS.md
Due: prettier --write

docs: add SEO/AEO rules reference
  docs/seo-aeo-rules.json
Due: prettier --write

chore(gitignore): untrack .firebase/hosting.* cache
  .gitignore
Due: none

chore(toolchain): pin packageManager to yarn@4.14.1 + corepack compat
  .yarnrc.yml
  package.json
Due: prettier --write

chore(gitignore): ignore .yarn/ cache + state (yarn 4 pattern)
  .gitignore
Due: none

chore(deps): update all dependencies to latest stable + fix resulting breakage
  docs/features/polish-audit-release/00-overview.md
  docs/features/polish-audit-release/00-tracker.json
  docs/features/polish-audit-release/phase01-dependency-updates.md
  docs/features/polish-audit-release/phase02-deep-audit.md
  docs/features/polish-audit-release/phase03-fixes.md
  docs/features/polish-audit-release/phase04-documentation.md
  docs/features/polish-audit-release/phase05-version-release.md
  eslint.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

docs(audit): phase 02 deep-audit findings + populate phase 03 fix plan
  docs/features/polish-audit-release/00-tracker.json
  docs/features/polish-audit-release/phase02-findings.md
Due: prettier --write

fix(privacy,consent,logging): enforce privacy controls + harden logger (phase 03.1-3.4)
  docs/features/polish-audit-release/00-tracker.json
  src/core/unified-tracking-core.ts
  src/definitions.ts
  src/providers/error-handling/sentry/sentry.provider.ts
  src/providers/provider-manager.ts
  src/utils/config-manager.ts
  src/utils/logger.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

fix(security,cleanup): input validation, script-src hardening, drop eval + postinstall (phase 03.6/3.8)
  docs/features/polish-audit-release/00-tracker.json
  package.json
  src/core/unified-tracking-core.ts
  src/providers/analytics/google-analytics/google-analytics.provider.ts
  src/providers/analytics/heap/heap.provider.ts
  src/providers/analytics/matomo/matomo.provider.ts
  src/providers/analytics/segment/segment.provider.ts
  src/providers/index.ts
  src/utils/config-manager.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

refactor(dead-code): remove web.ts dupe + orphaned React island; fix EventQueue leak (phase 03.5)
  docs/features/polish-audit-release/00-tracker.json
  src/core/unified-tracking-core.ts
  src/react/context.tsx
  src/react/hoc.tsx
  src/react/hooks.ts
  src/utils/event-queue.ts
  src/web.test.ts
  src/web.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

refactor(types): tighten public API types + drive eslint warnings 632 -> 0 (phase 03.9)
  bin/setup.js
  docs/features/polish-audit-release/00-tracker.json
  eslint.config.js
  src/definitions.ts
  src/providers/analytics/mixpanel/mixpanel.provider.ts
  src/providers/error-handling/firebase-crashlytics/firebase-crashlytics.provider.ts
  src/types/provider.ts
  src/utils/config-manager.ts
  src/utils/event-queue.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

docs(tracker): mark phase 03 complete; next is phase 04 docs -> phase 05 release
  docs/features/polish-audit-release/00-tracker.json
Due: prettier --write

docs(release): v3.1.0 — accurate docs + version bump (phase 04)
  AGENTS.md
  AI-INTEGRATION-GUIDE.md
  CHANGELOG.md
  CLAUDE.md
  Readme.md
  UnifiedTracking.podspec
  docs/features/polish-audit-release/00-tracker.json
  package.json
  src/AGENTS.md
  src/CLAUDE.md
  src/core/AGENTS.md
  src/core/CLAUDE.md
  src/react/AGENTS.md
  src/react/CLAUDE.md
Due: prettier --write

docs(tracker): phase 05 complete — unified-tracking@3.1.0 published to npm
  docs/features/polish-audit-release/00-tracker.json
Due: prettier --write

auto: end-of-prompt commit
  docs/features/polish-audit-release/00-tracker.json
  docs/features/polish-audit-release/round02-overview.md
Due: prettier --write

fix(security): batch 7.2 — redact secrets in logger sink + setup.js secret hygiene (H1/L1/L2/L19)
  bin/setup.js
  docs/features/polish-audit-release/00-tracker.json
  src/utils/logger.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

fix(config): batch 7.3 — provider config-key aliases + GA consent default + amplitude global (H2/M8/M9)
  docs/features/polish-audit-release/00-tracker.json
  src/definitions.ts
  src/providers/analytics/amplitude/amplitude.provider.ts
  src/providers/analytics/google-analytics/google-analytics.provider.ts
  src/providers/analytics/matomo/matomo.provider.ts
  src/providers/analytics/posthog/posthog.provider.ts
  src/providers/analytics/segment/segment.provider.ts
  src/providers/error-handling/logrocket/logrocket.provider.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

fix(errors,privacy): batch 7.4a — breadcrumbs reach SDK + honest crashlytics + deep privacy strip (H3/H4/M10)
  docs/features/polish-audit-release/00-tracker.json
  src/providers/base-error-tracking-provider.ts
  src/providers/error-handling/firebase-crashlytics/firebase-crashlytics.provider.ts
  src/providers/provider-manager.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

fix(consent,privacy): batch 7.4b — unify ConsentSettings + honor global anonymizeIp (M1/M2)
  docs/features/polish-audit-release/00-tracker.json
  src/definitions.ts
  src/providers/analytics/google-analytics/google-analytics.provider.ts
  src/types/provider.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

fix(engine,react): batch 7.5 — stable hook ref, shared core, capacitor listener leak, guards, shutdown (M6/M5/M4/L3/L7)
  docs/features/polish-audit-release/00-tracker.json
  src/capacitor/index.ts
  src/core/unified-tracking-core.ts
  src/react/hooks-new.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

feat(queue): batch 7.6 — wire up the EventQueue (pre-init buffering + drain-replay) + fix M11 (H5/M11)
  docs/features/polish-audit-release/00-tracker.json
  src/core/unified-tracking-core.ts
  src/utils/event-queue.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

refactor(types,publish): batch 7.7 — Provider interface methods + drop redundant .npmignore (L9/L18); phase07 fixes complete
  .npmignore
  docs/features/polish-audit-release/00-tracker.json
  src/providers/provider-manager.ts
  src/types/provider.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

docs(phase08): rewrite the 3 fictional /docs files to match the real API (DOC-01/02/05)
  docs/api-reference.md
  docs/features/polish-audit-release/00-tracker.json
  docs/native-implementation.md
  docs/react-integration.md
Due: prettier --write

docs(release): batch 7.8 — README/CHANGELOG/secondary-doc accuracy + bump to 3.2.0
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  Readme.md
  UnifiedTracking.podspec
  docs/features/polish-audit-release/00-tracker.json
  docs/migration-guide.md
  docs/setup-guide.md
  package.json
Due: prettier --write

chore(release): unified-tracking@3.2.0 published to npm — round 02 complete (phase09)
  CLAUDE.md
  docs/features/polish-audit-release/00-tracker.json
Due: prettier --write

feat(api): round 03 batch 1 — flush(), typed listeners, SSR guard, deprecate dead export, setup-CLI fix (L8/L10/L16/L6)
  UNIFIED-TRACKING_portfolio-info_2026-03-25.md
  UNIFIED-TRACKING_portfolio-info_2026-05-27.md
  bin/setup.js
  docs/AGENTS.md
  docs/CLAUDE.md
  docs/features/polish-audit-release/00-tracker.json
  src/capacitor/index.ts
  src/core/unified-tracking-core.ts
  src/definitions.ts
  src/providers/base-provider-impl.ts
  src/providers/provider-manager.ts
  src/react/hooks-new.ts
  src/types/provider.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

auto: end-of-prompt commit
  .claude/scheduled_tasks.lock
  CHANGELOG.md
  src/providers/analytics/amplitude/amplitude.provider.test.ts
  src/providers/analytics/amplitude/amplitude.provider.ts
  src/providers/analytics/firebase/firebase.provider.test.ts
  src/providers/analytics/firebase/firebase.provider.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

feat(types,release): round 03 batch 2 — L11 public-surface type tightening + bump to 3.3.0
  AGENTS.md
  CLAUDE.md
  Readme.md
  UnifiedTracking.podspec
  docs/features/polish-audit-release/00-tracker.json
  package.json
  src/providers/base-analytics-provider.ts
  src/providers/base-error-tracking-provider.ts
  src/providers/base-provider-impl.ts
  src/providers/base.ts
Due: eslint --fix --ignore-pattern 'examples/**', prettier --write

chore(release): unified-tracking@3.3.0 published — round 03 deferral backlog complete
  docs/features/polish-audit-release/00-tracker.json
Due: prettier --write

docs(round04): native bridges round 04 spec + standing-decision update + CHANGELOG Unreleased
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docs/features/polish-audit-release/00-tracker.json
  docs/features/polish-audit-release/round04-native-overview.md
Due: prettier --write

chore: portfolio refresh 2026-05-29 — dep bumps + docs sync
  .claude/scheduled_tasks.lock
  AGENTS.md
  CLAUDE.md
  package.json
  yarn.lock
Due: prettier --write

docs: add canonical project Links (live/store URLs) to README/CLAUDE/AGENTS
  AGENTS.md
  CLAUDE.md
  Readme.md
Due: prettier --write
